.App {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  height: 100%;
  background-color: white;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

html, body {
  height: 100%;
}

body {
  --primaryColor: orange;
  background-color: #FAFAFA;
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
  padding: 0;
  margin: 0;
}